@import 'vars';
@import'reset-margin';
body{
    font-family: $balsamiq-sans;
}
.logo {
    background-color: $steunkleur;
    display: inline-block;
    font-size: 2em;
    padding: .3em;
    color: darken($color: $steunkleur, $amount: 25);
}
@import 'buttons';
header{
    padding: 1em 0;
    text-align: center;
    background-color: $donkere-hoofdkleur;
    h1{
        font-weight: 500;
    }
    p{
        padding: .5em;
    }
    border-bottom: 3.5px solid darken($color: $donkere-hoofdkleur, $amount: 10)
}
main{
    background-color: $hoofdkleur;
}
